In [3]:
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [77]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [9]:
answers = {} # создадим словарь для ответов

# Я тут подумал, а что насчёт небольшого челенжа? 
#не заниматься предобработкой данных, чтобы было интереснее писать код. 
#насоздавать доп колонок для расчёта прибыли, сезона года и т.д. не проблема
# P.S. спойлер: со всеми заданиями у меня так не вышло

#импорт модуля seaborn закоменчен, т.к. вызывал фатальную ошибку в моем ноутбуке...

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [14]:
# тут пишем ваш код для решения данного вопроса:
#ничего сложного - устанавливаем "фильтр",чтобы оставались только значения, соответствующие условию МАКСИМАЛЬНОГО БЮДЖЕТА, 
#и просим вывести столбец с название.
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [21]:
# можно добавлять разные варианты решения
#но или можно отсортировать в порядке возрастания и взять последнее число
data.sort_values('budget')[-1:].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 3

In [26]:
#но или можно отсортировать в порядке убывания и взять первое число
data.sort_values('budget', ascending=False).original_title.iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [15]:
#аналогично предыдущему варианту, только теперь вместо бюджета - продолжительность
data[data.runtime==data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [16]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [18]:
#аналогично предыдущему варианту, только теперь вместо максимальной продолжительности - минимальная
data[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [19]:
answers['4'] = '110'

In [20]:
# используем стандартную функцию mean. т.к. результатом функции всегда будет число с точкой, 
# а варианты ответа все целочисленные - переведем число в целочисленное int(). Но сама функция не умеет корректно округлять, 
# поэтому, перед переводом числа в целочисленное округлим его до 0 знаков после запятой
int(round(data.runtime.mean(),0))

110

# 5. Каково медианное значение длительности фильмов?

In [30]:
answers['5'] = '107'

In [31]:
#абсолютно идентичное описание как у задания 4. только функция mean() меняется на median()
int(round(data.runtime.median(),0))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [32]:
answers['6'] = 'Avatar (tt0499549)'

In [33]:
# лучше код получения столбца profit вынести в Предобработку что в начале

#спасибо за совет, но мы решили не пользоваться дополнительными столбцами.

#подбираем такие значения, в которых разница между выручкой и бюджетом будет максимальная
data[(data.revenue-data.budget)==(data.revenue-data.budget).max()].original_title.iloc[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [34]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [37]:
data[(data.revenue-data.budget)==(data.revenue-data.budget).min()].original_title.iloc[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [40]:
answers['8'] = '1478'

In [38]:
# ничего необычного - просто просим отфильтровать список по условию - выручка больше бюджета, 
# а потом считаем количество строк в датафрейме
data[(data.revenue>data.budget)].original_title.count()

1478

ВАРИАНТ 2

In [39]:
# а тут вместо просчёта строк просим узнать длину датафрейму
len(data[(data.revenue>data.budget)].original_title)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [41]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [44]:
# а что если воспользоваться функцией tail() после сортировки? нетривиальненько?
data[data.release_year==2008].sort_values('revenue').tail(1).original_title

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 2

In [43]:
# тте же яйца, вид сбоку
data[data.release_year==2008].sort_values('revenue')[-1:].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [45]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [65]:
# тут для простоты и пошаговости объяснения создам датафрейм, который будет соответствовать отфильттрованному 
# по годам исхходному. В принципе все можно слить в одну строчку но она станет слишком длинной и ненаглядной
df=data[(data.release_year>=2012)&(data.release_year<=2014)]
df[(df.revenue-df.budget)==(df.revenue-df.budget).min()].original_title.iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [68]:
answers['11'] = 'Drama'

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [67]:
#Как насчёт чего-то давно забытого? мы так давно не пользовались Counter'ом, 
# а ведь он лучше всех подходит когда нужно чтото подсчитать

c = Counter()

# далее каждое значение жанров, содержащихся в определенных строках датафрейма 
# разбивается на список и передается в переменную category
for category in data['genres'].apply(lambda x:x.split('|')):
    # перебираем переменные в списке и считаем их
    for genre in category:
        c[genre] += 1
        
# просим показать словарь из 1 самого часто встречающегося ключа и значения         
print(c.most_common(1))

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [70]:
answers['12'] = 'Drama'

In [71]:
#обнулим каунтер, как президент сроки
c = Counter()

#тут все аналогично предыдущему заданию, но добавим фильтр прибыльности
for category in data[data.revenue>data.budget].genres.apply(lambda x:x.split('|')):
    for genre in category:
            c[genre] += 1

print(c.most_common(1))
#ВАУ, выходит что 222 драмы из датафрейма убыточны? магия чисел...

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [79]:
answers['13'] = 'Peter Jackson'

In [78]:
#воспользуемся функцией explode,  которая создаст в оперативной памяти больший датафрейм, 
#разбив каждую строчку в которой есть несколько режисеров на несколько, в которых будет стоять только один режисер
#Знал бы я про эту функцию раньше - может и не женился бы. Жаль о ней не рассказывают в рамках курса
data.explode('director').groupby(['director'])['revenue'].sum().sort_values(ascending = False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [80]:
answers['14'] = 'Robert Rodriguez'

In [81]:
#Тут конечно можно ыбло и с Explode поупражняться, но я еще не наигрался с каунтером,
c = Counter()
for category in data[data.genres.str.contains('Action')].director.apply(lambda x:x.split('|')):
    for director in category:
            c[director] += 1
print(c.most_common(1))

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [82]:
answers['15'] = 'Chris Hemsworth'

In [89]:
#как мы уже выяснили - функция explode делает жизнь легкой а задания скучными.
#а если немного поизвращаться со словарями к примеру...

#заделаем пустой словарь
actors_dict={}

#тут все аналогично 12 заданию
for category in data[data.release_year==2012].cast.apply(lambda x:x.split('|')):
    for actor in category:
        #а вот тут пошла жара: проверяем есть ли такой актер в словаре, если да, то ищем другого актера, а если нет:
        if actor not in actors_dict:
            #то сразу же создаем новый ключ с именем актёра и вносим в него значение 
            #суммарного кассового сбора по всем фильмам с его участием
            actors_dict[actor] = data[(data.cast.str.contains(actor)) & (data.release_year==2012)].revenue.sum()

#Есть ощущение, что тут можно было и проще..., но задания скучноваты, так что развлекаем себя сами
#займемся ка сортировкой словаря, почему бы и нет?
data_sorted = {k: v for k, v in sorted(actors_dict.items(), key=lambda x: x[1])}
print(data_sorted)

{'Nicolas Cage': 2106557, 'Josh Lucas': 2106557, 'Sami Gayle': 2106557, 'Danny Huston': 2106557, 'Jason Bateman': 3428048, 'Hope Davis': 3428048, 'Frank Grillo': 3428048, 'Paula Patton': 3428048, 'Michael Nyqvist': 3428048, 'Josh Duhamel': 4636169, 'Rosario Dawson': 4636169, "Vincent D'Onofrio": 4636169, '50 Cent': 4636169, 'Sarah Gadon': 6063556, 'Juliette Binoche': 6063556, 'Paul Giamatti': 6063556, 'Samantha Morton': 6063556, 'Timothy Spall': 8106475, 'James Kidnie': 8106475, 'Heidi Hawkins': 8106475, 'Matt Damon': 8138788, 'Rosemarie DeWitt': 8138788, 'Lucas Black': 8138788, 'Danielle Panabaker': 8493728, 'Matt Bush': 8493728, 'Katrina Bowden': 8493728, 'Jean-Luc Bilodeau': 8493728, 'David Koechner': 8493728, 'Garrett Hedlund': 8784318, 'Sam Riley': 8784318, 'Tom Sturridge': 8784318, 'Eva Longoria': 9622846, 'Andy GarcÃ\xada': 9622846, 'Oscar Isaac': 9622846, "Peter O'Toole": 9622846, 'RubÃ©n Blades': 9622846, 'Ashley Greene': 9627492, 'Sebastian Stan': 9627492, 'Tom Felton': 9627492, 'Julianna Guill': 9627492, 'Luke Pasqualino': 9627492, 'Victoria Justice': 11417362, 'Jackson Nicoll': 11417362, 'Chelsea Handler': 11417362, 'Josh Pence': 11417362, 'Jane Levy': 11417362, 'Mark Duplass': 12434778, 'Zoe Saldana': 13231461, 'Jeremy Irons': 13231461, 'Dennis Quaid': 13231461, 'Henry Cavill': 16863583, 'VerÃ³nica Echegui': 16863583, 'Sigourney Weaver': 16863583, 'Caroline Goodall': 16863583, 'Kirsten Dunst': 16890793, 'Sam Rockwell': 19422261, 'Christopher Walken': 19422261, 'Abbie Cornish': 19422261, 'Eddie Murphy': 22044277, 'Allison Janney': 22044277, 'Cliff Curtis': 22044277, 'Clark Duke': 22044277, 'Jennifer Aniston': 24159934, 'Justin Theroux': 24159934, 'Lauren Ambrose': 24159934, 'Whitney Houston': 24637469, 'Cee Lo Green': 24637469, 'Derek Luke': 24637469, 'Mike Epps': 24637469, 'Carmen Ejogo': 24637469, 'Drew Barrymore': 24719215, 'Kristen Bell': 24719215, 'Vinessa Shaw': 24719215, 'Dermot Mulroney': 24719215, 'Olivia Wilde': 25666239, 'Malin Ã…kerman': 26266491, 'Joaquin Phoenix': 28258060, 'Philip Seymour Hoffman': 28258060, 'Amy Adams': 28258060, 'Laura Dern': 28258060, 'Jesse Plemons': 28258060, 'John Cusack': 29657751, 'Luke Evans': 29657751, 'Alice Eve': 29657751, 'Kevin McNally': 29657751, 'Tyler Perry': 30353232, 'Rachel Nichols': 30353232, 'Jean Reno': 30353232, 'Matthew Fox': 30353232, 'Giancarlo Esposito': 30353232, 'Michael Shannon': 31083599, 'Dania Ramirez': 31083599, 'Jamie Chung': 31083599, 'WolÃ© Parks': 31083599, 'Joseph Gilgun': 32204030, 'Lennie James': 32204030, 'Peter Stormare': 32204030, 'Katy Perry': 32726956, 'Russell Brand': 32726956, 'Shannon Woodward': 32726956, 'Rachael Markarian': 32726956, 'Mia Moretti': 32726956, 'John Krasinski': 32858003, 'Gina Carano': 33372606, 'Bill Paxton': 33372606, 'Logan Lerman': 33400000, 'Emma Watson': 33400000, 'Ezra Miller': 33400000, 'Nina Dobrev': 33400000, 'Richard Gere': 35485056, 'Tim Roth': 35485056, 'Brit Marling': 35485056, 'Monica Raymund': 35485056, 'Katherine Heigl': 36893721, 'Debbie Reynolds': 36893721, 'Sherri Shepherd': 36893721, 'Patrick Fischler': 36893721, 'Brad Pitt': 37930465, 'Scoot McNairy': 37930465, 'Ben Mendelsohn': 37930465, 'James Gandolfini': 37930465, 'Ray Liotta': 37930465, 'Chris Sarandon': 40346186, 'James Hong': 40346186, 'Catherine Chan': 40346186, 'Robert John Burke': 40346186, 'Karl Urban': 41037742, 'Olivia Thirlby': 41037742, 'Lena Headey': 41037742, 'Wood Harris': 41037742, 'Jason Cope': 41037742, 'Isabel Lucas': 44806783, 'Adrianne Palicki': 44806783, 'Jamie Bell': 46221189, 'Ed Harris': 46221189, 'Edward Burns': 46221189, 'Blake Lively': 47000000, 'Aaron Taylor-Johnson': 47000000, 'Benicio del Toro': 47000000, 'Paul Dano': 47042000, 'Noah Segan': 47042000, 'Jake Gyllenhaal': 48126384, 'Michael PeÃ±a': 48126384, 'Natalie Martinez': 48126384, 'David Harbour': 48126384, 'Cuba Gooding Jr.': 50365377, 'Daniela Ruah': 50365377, 'Terrence Howard': 50365377, 'Adelaide Clemens': 52302796, 'Kit Harington': 52302796, 'Sean Bean': 52302796, 'Carrie-Anne Moss': 52302796, 'Radha Mitchell': 52302796, 'Shia LaBeouf': 53676580, 'Mia Wasikowska': 53676580, 'Alison Brie': 53909751, 'Sean Hayes': 54819301, 'Will Sasso': 54819301, 'Chris Diamantopoulos': 54819301, 'SofÃ\xada Vergara': 54819301, 'Eva Amurri Martino': 58058367, 'Leighton Meester': 58058367, 'Andy Samberg': 58058367, 'Diego Boneta': 59418613, 'Julianne Hough': 59418613, 'Maggie Smith': 59520298, 'Tom Courtenay': 59520298, 'Pauline Collins': 59520298, 'Michael Gambon': 59520298, 'Ben Foster': 63100000, 'J.K. Simmons': 63100000, 'Kristen Connolly': 66486080, 'Anna Hutchison': 66486080, 'Fran Kranz': 66486080, 'Jesse Williams': 66486080, 'Jared Gilman': 68263166, 'Kara Hayward': 68263166, 'Bill Murray': 68263166, 'Devon Bostick': 77112176, 'Steve Zahn': 77112176, 'Peyton List': 77112176, 'Rachael Harris': 77112176, 'Zachary Gordon': 77112176, 'Joseph Gordon-Levitt': 78125599, 'Cameron Diaz': 79700000, 'Jennifer Lopez': 79700000, 'Roselyn SÃ¡nchez': 81272766, 'Emilio Rivera': 81272766, 'Nestor Serrano': 81272766, 'Gonzalo Menendez': 81272766, 'Alexander Asefa': 81272766, 'Charlie Tahan': 81491068, 'Winona Ryder': 81491068, "Catherine O'Hara": 81491068, 'Martin Short': 81491068, 'Martin Landau': 81491068, 'Natasha Calis': 85446075, 'Madison Davenport': 85446075, 'Kyra Sedgwick': 85446075, 'Rob LaBelle': 85446075, 'Leslie Mann': 88058786, 'Maude Apatow': 88058786, 'Susan Sarandon': 93543423, 'Jerry Ferrara': 96070507, 'Meagan Good': 96070507, 'Regina Hall': 96070507, 'Kevin Hart': 96070507, 'Oliver Cooper': 100000000, 'Jonathan Daniel Brown': 100000000, 'Thomas Mann': 100000000, 'Dax Flame': 100000000, 'Kirby Bliss Blanton': 100000000, 'Emily Blunt': 100951751, 'Kodi Smit-McPhee': 107139399, 'Tucker Albrizzi': 107139399, 'Jodelle Ferland': 107139399, 'Casey Affleck': 107139399, 'Benjamin Walker': 112265139, 'Dominic Cooper': 112265139, 'Anthony Mackie': 112265139, 'Mary Elizabeth Winstead': 112265139, 'Rufus Sewell': 112265139, 'Meryl Streep': 114281051, 'Steve Carell': 114281051, 'Jean Smart': 114281051, 'Marin Ireland': 114281051, 'Skylar Astin': 115350426, 'Brittany Snow': 115350426, 'Anna Camp': 115350426, 'Rebel Wilson': 115350426, 'Hugh Grant': 118338361, 'Jeremy Piven': 118338361, 'Brian Blessed': 118338361, 'Billy Crystal': 119772232, 'Bette Midler': 119772232, 'Marisa Tomei': 119772232, 'Tom Everett Scott': 119772232, 'Bailee Madison': 119772232, 'Daniel Radcliffe': 127730736, 'Sidney Johnston': 127730736, 'Alisa Khazanova': 127730736, 'Mary Stockley': 127730736, 'Jeffrey Dean Morgan': 130252858, 'Tom Hanks': 130482868, 'Halle Berry': 130482868, 'Jim Broadbent': 130482868, 'Hugo Weaving': 130482868, 'Stephen Rea': 132400000, 'Theo James': 132400000, 'India Eisley': 132400000, 'Jason Clarke': 132820716, 'Joel Edgerton': 132820716, 'Jim Sturgess': 138589343, 'Kathryn McCormick': 140470746, 'Ryan Guzman': 140470746, 'Stephen Boss': 140470746, 'Megan Boone': 140470746, 'Jessica Guadix': 140470746, 'Jason Segel': 141968537, 'Katie Featherston': 142817992, 'Kathryn Newton': 142817992, 'Matt Shively': 142817992, 'Brady Allen': 142817992, 'Sprague Grayden': 142817992, 'Dane DeHaan': 145000000, 'Alex Russell': 145000000, 'Michael B. Jordan': 145000000, 'Michael Kelly': 145000000, 'Anna Wood': 145000000, 'Paul Rudd': 145618720, 'Salma Hayek': 165338361, 'Matthew McConaughey': 167221571, 'Olivia Munn': 167221571, 'Cody Horn': 167221571, 'Alex Pettyfer': 167221571, 'Sayed Badreya': 179379533, 'Aasif Mandvi': 179379533, 'Anna Faris': 179379533, 'Naomi Watts': 180274123, 'Tom Holland': 180274123, 'Samuel Joslin': 180274123, 'Oaklee Pendergast': 180274123, 'Julia Roberts': 183018522, 'Lily Collins': 183018522, 'Armie Hammer': 183018522, 'Nathan Lane': 183018522, 'Martin Klebba': 183018522, 'Jessica Chastain': 186497296, 'Chris Pratt': 186730467, 'Rachel McAdams': 196114570, 'Sam Neill': 196114570, 'Scott Speedman': 196114570, 'Jessica Lange': 196114570, 'Jessica Biel': 198802074, 'Bill Nighy': 198802074, 'Jonah Hill': 201585328, 'Brie Larson': 201585328, 'Dave Franco': 201585328, 'Ellie Kemper': 201585328, 'Robert De Niro': 205738714, 'Jacki Weaver': 205738714, 'Chris Tucker': 205738714, 'Denzel Washington': 208076205, 'Ryan Reynolds': 208076205, 'Vera Farmiga': 208076205, 'Joel Kinnaman': 208076205, 'Ewan McGregor': 213646729, 'Colin Farrell': 218224335, 'Richard Jenkins': 218340595, 'Werner Herzog': 218340595, 'Bradley Cooper': 218970175, 'Michael Ealy': 228470507, 'Ben Affleck': 232324128, 'Alan Arkin': 232324128, 'John Goodman': 232324128, 'Victor Garber': 232324128, 'Jason Biggs': 234989584, 'Alyson Hannigan': 234989584, 'Chris Klein': 234989584, 'Thomas Ian Nicholas': 234989584, 'Milla Jovovich': 240159255, 'Sienna Guillory': 240159255, 'Michelle Rodriguez': 240159255, 'Aryana Engineer': 240159255, 'Li Bingbing': 240159255, 'Johnny Depp': 245527149, 'Helena Bonham Carter': 245527149, 'Jackie Earle Haley': 245527149, 'Jonny Lee Miller': 245527149, 'Michelle Pfeiffer': 257961927, 'Megan Fox': 267438319, 'David Oyelowo': 268705972, 'Jeremy Renner': 276572938, 'Rachel Weisz': 276572938, 'Scott Glenn': 276572938, 'Stacy Keach': 276572938, 'Tom Cruise': 277759208, 'Lynn Collins': 284139100, 'Willem Dafoe': 284139100, 'Edgar RamÃ\xadrez': 301000000, 'Alexander SkarsgÃ¥rd': 303025485, 'Rihanna': 303025485, 'Tadanobu Asano': 303025485, 'Jude Law': 306941670, 'Isla Fisher': 306941670, 'Sylvester Stallone': 312573423, 'Dolph Lundgren': 312573423, 'Arnold Schwarzenegger': 312573423, 'Chris Pine': 319376448, 'Edward Norton': 344836104, 'Sam Worthington': 347221189, 'Zac Efron': 348840316, 'Danny DeVito': 348840316, 'Taylor Swift': 348840316, 'Ed Helms': 348840316, 'Rob Riggle': 348840316, 'Anna Kendrick': 350316209, 'Jason Statham': 352919609, 'Dwayne Johnson': 355692760, 'Kristin Davis': 355692760, 'Vanessa Hudgens': 355692760, 'Luis GuzmÃ¡n': 355692760, 'Brendan Gleeson': 356072317, 'Steve Buscemi': 358375603, 'David Spade': 358375603, 'Kevin James': 358375603, 'Selena Gomez': 358375603, 'Alec Baldwin': 366360283, 'Famke Janssen': 376141306, 'Rade Serbedzija': 376141306, 'Luke Grimes': 376141306, 'Brooklyn Decker': 382725485, 'Kate Beckinsale': 394302074, 'Sam Claflin': 396600000, 'Ian McShane': 396600000, 'Noomi Rapace': 403170142, 'Idris Elba': 403170142, 'Maggie Grace': 408345336, 'CiarÃ¡n Hinds': 411869836, 'Adam Sandler': 416433970, 'Mark Strong': 416959816, 'Jamie Foxx': 425368238, 'Christoph Waltz': 425368238, 'Leonardo DiCaprio': 425368238, 'Samuel L. Jackson': 425368238, 'Michael Fassbender': 436542748, 'Russell Crowe': 441809770, 'Amanda Seyfried': 441809770, 'Kerry Washington': 447412515, 'Bruce Willis': 449378341, 'John C. Reilly': 471222889, 'Sarah Silverman': 471222889, 'Jack McBrayer': 471222889, 'Jamie Elman': 471222889, 'Guy Pearce': 489050752, 'Rosamund Pike': 519340595, 'Jane Lynch': 526042190, 'Kelly Macdonald': 538983207, 'Julie Walters': 538983207, 'Kevin McKidd': 538983207, 'Bryan Cranston': 540910192, 'Mila Kunis': 549368315, 'Seth MacFarlane': 549368315, 'Joel McHale': 549368315, 'Channing Tatum': 598294075, 'Billy Connolly': 598503505, 'Suraj Sharma': 609016565, 'Irrfan Khan': 609016565, 'Ayush Tandon': 609016565, 'Gautam Belur': 609016565, 'Adil Hussain': 609016565, 'Mark Wahlberg': 612468315, 'Giovanni Ribisi': 612468315, 'Will Smith': 624026776, 'Josh Brolin': 624026776, 'Michael Stuhlbarg': 624026776, 'Taylor Kitsch': 634164585, 'Liam Neeson': 677141306, 'Liam Hemsworth': 691210692, 'Woody Harrelson': 710632953, 'Tommy Lee Jones': 738307827, 'Ben Stiller': 746921274, 'David Schwimmer': 746921274, 'Chris Rock': 746921274, 'Hugh Jackman': 748751440, 'Andrew Garfield': 752215857, 'Emma Stone': 752215857, 'Martin Sheen': 752215857, 'Frances McDormand': 755060062, 'Charlize Theron': 799770142, 'Rhys Ifans': 806125608, 'Taylor Lautner': 829000000, 'Peter Facinelli': 829000000, 'Elizabeth Reaser': 829000000, 'Elizabeth Banks': 829566659, 'Robert Pattinson': 835063556, 'Ray Romano': 877244782, 'Chris Wedge': 877244782, 'Jennifer Lawrence': 896949406, 'John Leguizamo': 914138503, 'Ian McKellen': 1017003568, 'Martin Freeman': 1017003568, 'Richard Armitage': 1017003568, 'Andy Serkis': 1017003568, 'Cate Blanchett': 1017003568, 'Christian Bale': 1081041287, 'Michael Caine': 1081041287, 'Gary Oldman': 1081041287, 'Josh Hutcherson': 1091710235, 'Daniel Craig': 1108561013, 'Judi Dench': 1108561013, 'Javier Bardem': 1108561013, 'Naomie Harris': 1108561013, 'Seann William Scott': 1112234366, 'Tom Hardy': 1134717867, 'Emma Thompson': 1163009983, 'Kristen Stewart': 1234384318, 'Sacha Baron Cohen': 1368110577, 'Ralph Fiennes': 1409561013, 'Robert Downey Jr.': 1519557910, 'Chris Evans': 1519557910, 'Mark Ruffalo': 1519557910, 'Scarlett Johansson': 1519557910, 'Anne Hathaway': 1522851057, 'Denis Leary': 1629460639, 'Chris Hemsworth': 2027450773}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [91]:
answers['16'] = 'Matt Damon'

In [93]:
#мы уже наверное поняли, как мне нравится counter... так что не буду комментировать, все как обчно
c=Counter()
for category in data[data.budget>data.budget.mean()].cast.apply(lambda x:x.split('|')):
    for actor in category:
            c[actor]+=1
print(c.most_common(1))

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [94]:
answers['17'] = 'Action'

In [95]:
#и снова каунтер! когда же он надоест? код тривиальный, все объяснение аналогично заданию 11
c=Counter()
for category in data[data.cast.str.contains('Nicolas Cage')].genres.apply(lambda x:x.split('|')):
    for genre in category:
            c[genre]+=1
print(c.most_common(1))

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [112]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [110]:
#неужели без каунтера?
#отфильтруем значения, в названии компаний которых есть парамаунт пикчерс 
#(используем функцию contein) т.к. компаний может быть несколько
df=data[data.production_companies.str.contains('Paramount Pictures')]
#подробно данный код разобрали в 10 задании
df[(df.revenue-df.budget)==(df.revenue-df.budget).min()].original_title.iloc[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [100]:
answers['19'] = '2015'

In [103]:
#сгруппируем весь датафрейм по годам релиза. суммируя все выручки. отсортируем. Готово. Мы превосходны. 
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)[0:1].index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [106]:
answers['20'] = '2014'

In [107]:
#как в прошлом задании но добавим фильтр
data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)[0:1].index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [113]:
answers['21'] = 'Сентябрь'

In [114]:
#группируем данные по номеру месяца (для этого переводим строковое значение в дату и берем из нее только месяц. 
#дата указана по английски, сначала месяц потом день, но нам это не важно, пусть компуктер сам разбирается
data.groupby(data.release_date.apply(lambda x:pd.to_datetime(x).month))['original_title'].count().sort_values(ascending = False)[0:1]
#девятый месяц... месяц листопада.

release_date
9    227
Name: original_title, dtype: int64

ВАРИАНТ 2

In [116]:
#ага, думали с каунтером покончено? как бы не так!
c=Counter()
for category in data.release_date.apply(lambda x:pd.to_datetime(x)):
    c[category.month]+=1
print(c.most_common(1))

[(9, 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [117]:
answers['22'] = '450'

In [119]:
c=Counter()
for category in data.release_date.apply(lambda x:pd.to_datetime(x)):
    c[category.month]+=1
print(c[6]+c[7]+c[8])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [128]:
answers['23'] = 'Peter Jackson'

In [129]:
#а тут воспользуемся функцией isin() которая проверяет соотносятся ли наши месяца с нашим набором зимних месяцев (12,1,2)
data[data.release_date.apply(lambda x:pd.to_datetime(x).month).isin([1,2,12])].groupby('director')['original_title'].count().sort_values(ascending = False)[0:1]

director
Peter Jackson    7
Name: original_title, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [130]:
answers['24'] = 'Four By Two Productions'

In [131]:
#вот тут я свой челендж проиграл. Уверен есть решение без создания доп столбцов, но дедлайн уже близко,
#поэтому нет времени думать - надо делать
#сделаем времненный датафрейм, чтобы не менять исходник
data_temp=data
#создадим столбец с длинной символов
data_temp['name_length'] = data_temp.original_title.apply(lambda x: len(x))
#создадим вместо длинной строки сделаем список
data_temp['production_companies_list'] = data_temp.production_companies.str.split('|')
#взорвем датафрейм и сделаем вместо строки со списком компаний много строк с одной компанией
data_temp = data_temp.explode('production_companies_list')
#ну и группируем
data_temp.groupby('production_companies_list').name_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [164]:
answers['25'] = 'Midnight Picture Show'

In [162]:
#dвсе как в прошлом задании
#сделаем времненный датафрейм, чтобы не менять исходник
data_temp=data
#создадим столбец с количеством слов
data_temp['words'] = data_temp.overview.apply(lambda x: len(x.split(' ')))
data_temp['production_companies_list'] = data_temp.production_companies.str.split('|')
data_temp = data_temp.explode('production_companies_list')
#а вот тут надо быть очень внимательным. поскольку надо найти в среднем, а не самые длинныне
data_temp.groupby('production_companies_list').words.mean().sort_values().tail(1)

production_companies_list
Midnight Picture Show    175.0
Name: words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [150]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [149]:
#сначала отсортируем датафрейм по рейтингу
#затем отобразим только один процент (длину датафрейма делим на 100 и умножаем на 1)
data.sort_values(by=['vote_average'], ascending = False).head(int(len(data.vote_average)/100))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,name_length,production_companies_list,total_words_in_overview,words
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,15,"[DC Comics, Legendary Pictures, Warner Bros., ...",67,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,12,"[Paramount Pictures, Legendary Pictures, Warne...",35,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,18,"[Black Bear Pictures, Bristol Automotive]",46,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,10,"[Walt Disney Pictures, Pixar Animation Studios...",112,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,4,"[Element Pictures, No Trace Camping, A24, Dupe...",49,49
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,23,"[Paramount Pictures, Appian Way, EMJAG Product...",29,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,9,"[Twentieth Century Fox Film Corporation, Regen...",30,30
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,16,"[Plan B Entertainment, Regency Enterprises, Ri...",61,61
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,23,"[Marvel Studios, Moving Picture Company (MPC),...",28,28
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,45,"[WingNut Films, New Line Cinema]",45,45
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,7,"[Summit Entertainment, Newmarket Capital Group...",78,78
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,9,"[Legendary Pictures, Warner Bros., Syncopy]",44,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,11,"[Bac Films, Canal+Polska, Heritage Films, Stud...",39,39
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,24,"[Fox Searchlight Pictures, Scott Rudin Product...",66,66
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,3,[Annapurna Pictures],65,65
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,9,"[Participant Media, Open Road Films, Anonymous...",30,30
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,10,"[Walt Disney Pictures, Walt Disney Animation S...",29,29
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,22,"[Fox 2000 Pictures, Temple Hill Entertainment,...",47,47

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [166]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

In [161]:
#сделаем копию датафрейма
data_temp=data
data_temp['cast'] = data_temp['cast'].str.split('|')

#Импортируем модуль, который советуют менторы в слаке, но мы его ни разу не разбирали
from itertools import combinations
list(combinations(data_temp['cast'], 2))

#Исбрасываем индекс
data_temp = data_temp['cast'].reset_index()
#создаем столбец пар
data_temp['pairs'] = data_temp['cast'].apply(lambda s: list(combinations(s, 2)))
#разгруппировываем его на новые строки
data_temp = data_temp.explode('pairs').reset_index()
#считаем
Counter(data_temp['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [167]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [168]:
# и убедиться что ни чего не пропустил)
len(answers)

27